@font-face {
    font-family: 'Standard CT Stencil';
    src: url(/src/fonts/StandardStencil-Bold_media.woff) format('woff');
    font-weight: 700;
    font-style: normal;
}

@font-face {
    font-family: 'Tele2 DisplaySerif';
    
    src: url(/src/fonts/Tele2DisplaySerif-Bold-short__W.woff) format('woff');

    font-weight: 700;
	font-style: normal;
}

@font-face {
    font-family: 'Tele2 Text';
    src: url(/src/fonts/Tele2TextSans-Regular-short__W.woff) format('woff');

    font-weight: 400;
    font-style: normal;    
}

@font-face {
    font-family: 'Tele2 Text';
    src: url(/src/fonts/tele2_textsans-bold.woff) format('woff');

    font-weight: 700;
    font-style: normal;
}