//Переменные для цветов
$backgroundcolor: #1F2229;
$osnovatext: rgb(255, 255, 255);
$spantext: rgb(72, 204, 253);
$colorgrey: grey;
$bordercolor: #383d4a; 


.header {
    position: relative;
    display: flex;
    justify-content: space-between;
    background-color: $backgroundcolor;
    border-bottom: 1px solid $bordercolor;
    padding-bottom: 10px;
    font-size: 20px;
    max-width: 1440px;
    max-height: 76;
    margin: auto;
}
.header_logo {
    margin-top: 21px;
    margin-left: 32px;
    margin-bottom: 22px;
}
.header_city {
    display: flex;
    align-items: center;
    margin-top: 20px;
    margin-right: 30px;
    background-color: $backgroundcolor;
    border: none;
    cursor: pointer;
}
.header_city_icon {
    vertical-align: top;
    
}
.header_city_city {
    text-decoration: none;
    color: $osnovatext;
    font-family: 'Tele2 Text';
    font-size: 20px;
    margin-right: 14px;
}
@media(max-width: 1100px){
    .header_city{
        margin-top: 8px;
        margin-right: 14px;
    }
    .header_logo{
        margin-top: 13px;
        margin-left: 16px;
        margin-bottom: 10px;
    }
    img{
        width: 48px;
        height: 18px;
        
    }
    
    .header_city_icon{
        width: 20px;
        
    }
    .header_city_city{
        font-family: 'Tele2 Text';
        font-size: 15px;
        font-weight: 400;
        line-height: 150%;
        letter-spacing: 0px;
        margin-right: 14px;
        
    }
}