//Переменные для цветов
$backgroundcolor: #1F2229;
$osnovatext: rgb(255, 255, 255);
$spantext: rgb(72, 204, 253);
$textgrey: grey;

.background-color-modal{
    transform: scale(1);
    position: fixed;
    width: 100%;
    height: 100%;
    background-color: rgba(0, 0, 0, 0.8);
    z-index: 3;
    visibility: hidden;
}


.header-planka {
    color: $backgroundcolor;
    position: absolute;
    z-index: 10;
    top: 102px;
    right: 75px;
    visibility: hidden;
}
.visible{
    visibility: visible;
    transform: scale(1);
}
    
.header-planka__container__img{
    position: absolute;
    left: 234px;
    top: -10px;
    z-index: 10;

}

.header-planka__container {
    display: flex;
    flex-direction: column;
    background-color: $osnovatext;
    width: 297px;
    height: 123px;
    border-radius: 10px;
    cursor: default;
}
.header-planka__container__title {
    font-family: 'Tele2 Text';
    font-size: 18px;
    font-weight: 400;
    line-height: 150%;
    letter-spacing: 0%;
    margin-bottom: 16px;
    margin-top: 16px;
}
.header-planka__options {
    display: flex;
    flex-direction: row;
}
.header-planka__options__yes {
    
    font-family: 'Tele2 Text';
    font-size: 16px;
    font-weight: 700;
    line-height: 22px;
    letter-spacing: 0px;
    text-align: center;
    border: 3px solid $backgroundcolor;
    border-radius: 30px;
    padding: 9px 19px 9px 19px;
    margin-left: 16px;
    cursor: pointer;
    &:hover{
        border-color: $spantext;
        color: $spantext;
    }
}
.header-planka__options__change {
    font-family: 'Tele2 Text';
    font-size: 16px;
    font-weight: 400;
    line-height: 150%;
    letter-spacing: 0%;
    padding-top: 10px;
    padding-left: 16px;
    cursor: pointer;

    &:hover{
        text-align: center;
        border: 3px solid $spantext;
        border-radius: 30px;
        padding: 8px 10px 8px 10px;
        margin-left: 16px;
        color: $spantext;
    }
    
}

@media(max-width: 1100px){
    .header-planka {
        right: 37px;
        top: 68px;
    }
    .header-planka__container {
        width: 298px;
    }
    .header-planka__container__img {
    }
    .header-planka__container__title {
    }
    .header-planka__options {
    }
    .header-planka__options__yes {
    }
    .header-planka__options__change {
    }

}