@import url(./all-styles/header-style.scss);
@import url(./all-styles/presents-style.scss);
@import url(./all-styles/promo-style.scss);
@import url(./all-styles/presents-style.scss);
@import url(./all-styles/number-style.scss);
@import url(./all-styles/rate-style.scss);
@import url(./all-styles/footer-style.scss);
@import url(./all-styles/city-desctop-style.scss);
@import url(./all-styles/city-mobile.scss);

@import url(./all-styles/fonts.scss);
@import url(./all-styles/reset.scss);



